{% extends "base.html" %}
{% load static %} 
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<style type="text/css">
    article {
        background: #fc0;
        padding: 50px;
    }
</style>
<article>
    <div class="row">
        <aside class="col-12 col-md-8"> 
            <h1>Привет, я автор</h1>
            <div style="font-family:Arial, sans-serif; font-size:140%" align="justify">
                <p>Меня зовут Сергей Сторожук.</p> 
                <p>Я создал этот сайт в рамках процесса обучения на платформе Яндекс.Практикум.</p>
                <p>
                    Это мой не первый опыт в программировании. В студенчестве писал программки на Fortrane и VisualBasic, в частности,
                    программу расчета двумерного профиля лопаток паровых турбин. На работе с помощью VBA написал для работы программу формирования
                    актов приема-передачи по исходному реестру требований и обязательств. Также на работе начал изучать Python, на Стэпике он-лайн и
                    во ВШЭ оф-лайн я прошел несколько курсов по Питону. С помощью полученных знаний удалось создать несколько программ, одна из них
                     программа скачивания и обработки отчетов
                    с внешнего сайта, которая существенно сокращает человеческое время на рутинные операции. В общем программирование мне нравилось -
                     нравилось искать решения,
                    узнавать что-то новое, видеть результат своей работы в конкретных вещах.
                </p>
                <p>
                    Но все это было на любительском уровне. Профессионально програмиированием я не занимался. На этом курсе
                    Яндекса я хочу стать профессиональным разработчиком. Пока что, курс мне нравится: сама он-лайн платформа с заданиями,
                    быстрая поддержка, жизнеутверждающая философия от Алисы и главное - возможность общаться с настоящими живыми программистами.
                    Такого опыта у меня ещё не было. Курс однозначно хорош, хоть и немного дороговато).</p> 
                </p>
                <p>
                    <a href="https://github.com/AKafer">Ссылка на мой аккаунт в Github</a>
                </p>
        </aside>
        <div class="col-12 col-md-4">
            <img src="{% static 'img/tram.jpg' %}" width="682" height="970">
            <p>Это трамвай в Праге. Он просто едет по своим делам.</p>
        </div>
    </div>
</article>
{% endblock %} 